body {
    overflow-y: auto;
    max-height: 500vh;
    font-family: Arial, sans-serif;
    display: flex;
    background-color: rgba(9,28,30,1);
    height: 600vh;
    margin: 0;
    color: #fff;
    flex-direction: column;
}
h1{
    font-size: 24pt;
}

div#interface {
    background-color: rgba(5, 20, 24, 0);
    width: 100%;
    color: white;
    padding: 2%;
    margin: -1.5% -10% auto -3.5%;
    z-index: 10pt;
}

nav#menu {
    display: block;
    z-index: 10pt
}

nav#submenu {
    display: none;
    z-index: 10pt
}

nav#menu h1 {
    opacity: 0;
}

nav#menu ul#TelaPerfil {
    list-style: none;
    text-transform: none;
    position: absolute;
    top: 20%;
    left: 80%;
    font-family: Metrophobic, sans-serif;
    font-weight: 400;
    width: 10%;
}

nav#menu ul#TelaPerfil li {
    display: inline-block;
    background-color: none;
    padding: 1%;
    margin: 1%;

}

nav#menu ul {
    list-style: none;
    text-transform: none;
    position: absolute;
    top: 2%;
    left: 24%;
    font-family: Metrophobic, sans-serif;
    font-weight: 400;
    width: 70%;
}

nav#menu li#geral {
    display: inline-block;
    background-color: none;
    padding: 1%;
    margin: 1%;
}

nav#menu div#campopesquisa #pesquisadesktop {
    display: block;
}

nav#menu div#campopesquisa #pesquisamobile {
    display: none;
}

div#campopesquisamobile {
    display: none;
}

div#campopesquisa {
    position: absolute;
    top: 31%;
    left: 62%;
    width: 12%;
    padding: 0.5%;
    border: 2pt solid #0d3840;
    border-radius: 50pt;
    padding-bottom: 0.3%;
    background-color: #101c20;

}

section#pesquisa {
    width: 70%;
    float: left;
    margin-right: 10%;
    padding-right: 0.5%;
}

section#pesquisa input {
    background-color: transparent;
    padding: 2%;
    color: white;
    border: none;
    outline: none;
    width: 125%;
    font-weight: 100;
}

section#pesquisa input::placeholder{
    font-style: italic;
    color: rgb(255, 255, 255, 0.5);
    font-weight: 100;
}

aside#pesquisa1 {
    width: 10%;
    float: right;
}

nav#menu a {
    color: white;
    text-decoration: none;
    transition: color 0.8s;
}

nav#menu a:hover {
    color: rgba(4, 238, 74, 0.822);
}

header#cabecalhoscroll.scroll {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(1, 26, 34);
    padding: 1%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    width: 100%;
    align-items: center;
}

header#cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(1, 26, 34);
    padding: 1%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    width: 100%;
    align-items: center;
    z-index: 2;
}
img#logo {
    position: absolute;
    top: 0.2%;
    left: 1.5%;
}

img#logomobile {
    position: absolute;
    top: 0.2%;
    left: 1.5%;
    display: none;
}

div#sacolamobile {
    display: none;
}

div#sacoladesktop {
    display: block;
    width: 40pt;
    height: 20pt;
    cursor: pointer;
    position: absolute;
    top: 24%;
    left: 92%;
}

#submenu {
    display: none;
    width: 78%;
    height: 1300%;
    border: 1pt solid black;
    padding: 2% auto 50% 4%;
    background-color: rgba(9, 28, 30, 1);
    position: absolute;
    top: 0;
    left: 0%;
    border-radius: 6px;
}
#submenubotao {
    display: none;
    width: 60px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 22%;
    right: 86%;
}

#submenuFundo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

#submenu.ativo {
    display: block;
    z-index: 2;
}

#submenu a {
    padding: 3%;
    color: white;
    text-decoration: none;
    font-family:  Metrophobic;
}




/* Formatação do rodapé das páginas */

footer#rodape {
    clear: both;
    border-top: 1px solid white;
    color: white;
    margin-left: 0;
    margin-right: -0.6%;
    padding: 0.5%;
}

footer#rodape p {
    text-align: center;
    font-family: Metrophobic;
    font-size: 1em;
    padding-top: 0.4%;
}


section{
    width: 900px;
    height: 900px;
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 3%;
    position: relative;
    top: 250px;
    z-index: 1;
}
.box-carrinho{
width: 900px;
height: 100px;
position: relative;
bottom: 325px;
background-color: rgb(52, 52, 52);
font-size: 40px;
color: #C0C0C0;
}

.list{
   
    margin: 10px;
    width: 880px;
    height: 140px;
    background-color: #4a4a4a;
   
    

}

.img-item{

    border-radius: 2%;
    position: relative;
    top: 20px;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: #646464;

}

.name{
    margin-left: 30px;
    font-size: 30px;
    color: rgb(207, 207, 207);
    position: relative;
    right: 180px;
    bottom: 75px;


}

.button{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-size: 30px;
    border-radius: 40%;
    
}

.box-mais-menos{
   width: 20px;
   height: 20px;
   position: relative;
   left: 800px;
   bottom: 220px;
}

.button_pagamento{
    width: 200px;
    height: 50px;
    position: relative;
    left: 90px;
    border-radius: 7%;
    background-color: #444444;
    color: aliceblue;
    border-color: #272727;
    font-size: 20PX;
    top: 140px;
}
.preco{
    width: 40px;
    height: 20px;
    position: relative;
    bottom: 150px;
    left: 200px;
    font-size: 27px;
}

.Valor{
    width: 170px;
    height: 34px;
    
    position: relative;
    font-size: 27px;
    left: 650px;
    bottom: 68px;
    border-radius: 5%;
    background-color: #444444;
    color: rgb(234, 234, 234);
    border: 50px;
    border-color: #ff0000;
}


#resultado {
    margin-top: 20px;
    font-size: 36px;
    color: rgb(255, 255, 255);
    background-color: #323232;
  }

  .calcular{
    position: relative;
    left: 120px;
    top: 10px;
    width: 150px;
    height: 45px;
    font-size: 20px;
    bottom: 2px;
    background-color: #797979;
    color: #ffffff;
    border-radius: 9% ;
   
  }

  .voltar{
    font-size: 80px;
    position: relative;
    right: 250px;
    bottom: 250px;
    color: #ffffff  ;
    text-decoration: none;
}

  @media (max-width: 430px) and (max-height: 932px){
    
    nav#menu {
        display: none;
    }

    #submenubotao {
        display: block;
        width: 45px;
        height: 35px;
        cursor: pointer;
        position: absolute;
        top: 25%;
        right: 88%;
    }

    #submenubotao img {
        max-width: 100%;
        max-height: auto;
    }
        
    img#logo {
        display: block;
    }

    img#logomobile {
        position: absolute;
        top: 1%;
        left: 14%;
        display: block;
    }

    header#cabecalho {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(1, 26, 34);
        padding: 1%;
        padding-bottom: 9%;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 50px;
        align-items: center;
        z-index: 2;
    }
        
    nav#menu div#campopesquisa #pesquisadesktop {
        display: none;
    }

    nav#menu div#campopesquisa #pesquisamobile {
        display: block;
    }

    div#campopesquisamobile {
        position: absolute;
        display: block;
        top: 25%;
        left: 36%;
        width: 40%;
        padding: 2%;
        border: 2px solid #0d3840;
        border-radius: 50px;
        padding-bottom: 0.3%;
        background-color: #101c20;

    }

    section#pesquisamobile {
        width: 70%;
        float: left;
        margin-right: 10%;
        padding-right: 0.5%;
    }

    section#pesquisamobile input {
        background-color: transparent;
        padding: 2%;
        color: white;
        border: none;
        outline: none;
        width: 125%;
        font-weight: 100;
    }

    section#pesquisamobile input::placeholder{
        font-style: italic;
        font-size: 1.3em;
        color: rgb(255, 255, 255, 0.5);
        font-weight: 100;
    }

    aside#pesquisa1 {
        width: 10%;
        margin-right: 2%;
        float: right;
    }

    div#sacolamobile {
        display: block;
        position: absolute;
        top: 17%;
        right: 2%;
    }
    
    div#sacoladesktop {
        display: none;
        width: 40px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        top: 24%;
        left: 92%;
    }

    div#submenu p{
        font-size: 1.2em;
        font-family: Metrophobic;
        color: white;
        padding: 2%;
    }

    div#submenu p#primeiroitem{
        font-size: 1.2em;
        font-family: Metrophobic;
        color: white;
        padding: 2%;
        margin-top: 25%;
    }

    div#submenu p#menu {
        font-size: 1.2em;
        font-family: Metrophobic;
        color: white;
        padding: 6%;
        background-color: rgba(4, 238, 74, 0.822);
        margin-bottom: 3%;
        position: absolute;
        top: -2.5%;
        width: 97%;
        border-radius: 0px 90px 90px 0px;
    }

    div#submenu p#divisao {
        font-size: 1.2em;
        font-family: Metrophobic;
        color: white;
        padding: 6%;
        background-color: rgba(4, 238, 74, 0.822);
        margin-bottom: 3%;
        width: 88%;
        margin-top:22%;
}

section{
    width: 500px;
    height: 910px;
    background-color: #272727;
    border-radius: 3%;
    position: relative;
    top: 150px;
    left: -9px;
    z-index: 1;
}
.box-carrinho{
width: 500px;
height: 100px;
position: relative;
background-color: rgb(52, 52, 52);
font-size: 40px;
color: #C0C0C0;
bottom: 380px;
}

.list{
   
    margin: 10px;
    width: 478px;
    height: 140px;
    background-color: #4a4a4a;
    border-radius: 2%;

}

.img-item{

    border-radius: 2%;
    position: relative;
    top: 20px;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: #646464;

}

.name{
    margin-left: 80px;
    font-size: 28px;
    color: rgb(207, 207, 207);
    position: relative;
    right: 18px;
    bottom: 90px;


}

.button{
    width: 30px;
    height: 30px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-size: 30px;
    border-radius: 40%;
    
}

.box-mais-menos{
   width: 20px;
   height: 20px;
   position: relative;
   left: 430px;
   bottom: 220px;
}

.button_pagamento{
    width: 200px;
    height: 50px;
    position: relative;
    top: 200px;
    left: 100px;
    border-radius: 7%;
    background-color: #444444;
    color: aliceblue;
    border-color: #272727;
    font-size: 20PX;
}
.preco{
    width: 40px;
    height: 20px;
    position: relative;
    bottom: 100px;
    left: 10px;
    font-size: 27px;
}

.Valor{
    width: 100px;
    height: 34px;
    position: relative;
    font-size: 27px;
    left: 100px;
    bottom: 68px;
    border-radius: 5%;
    background-color: #444444;
    color: rgb(234, 234, 234);
}

#quantidade1{
    position: relative;
    right: -5px;
  
  }
  #quantidade2{
    position: relative;
    right: -5;
  
  }
  #quantidade3{
    position: relative;
    right: -5;
  
  }

#resultado {
    margin-top: 20px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: #323232;
    
  }

  .calcular{
    position: relative;
    left: 40px;
    top: 10px;
    width: 150px;
    height: 45px;
    font-size: 20px;
    bottom: 2px;
    background-color: #797979;
    color: #ffffff;
    border-radius: 9% ;
  }
  }

  