body {
    font-family: Arial, sans-serif;
    background-color: rgb(15, 44, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}
div#interface{
    background-color: rgba(5,20,24,0);
    width: 100%;
    color: white;
    padding: 10px;
    margin: -20px -10% auto -2.4%;
}
nav#menu{
    display: block;
}
nav#h1{
    opacity: 0;
}
nav#menu ul{
    list-style: none;
    text-transform: none;
    position: absolute;
    top: 5px;
    left: 180px;
    font-family: Metrophobic;
    font-weight: 400;
}
nav#menu li{
    display: inline-block;
    background-color: none;
    padding: 10px;
    margin: 2px;
}
nav#menu a{
    color: white;
    text-decoration: none;
    transition: color 0.8s;
}
nav#menu a:hover{
    color: rgb(4, 218, 4);
}
header#cabeçalho{
    position:fixed ;
    top: 0;
    left: 0;
    background-color: rgb(1, 26, 34);
    padding: 36px;
    box-shadow: 2px 2px 2px rgba(0,0,0,6);
    width: 100%;
    align-items: center;  
}
img#logo{
    position: absolute;
    top: 0px;
    left: px;
}
#pesquisa{
    border-radius: 4px;
    padding: 5px ;
    width: 400px;
    background-color: rgb(207, 209, 208);
    
    
}
form{
    color: white;
    background-color:  rgb(17, 37, 20);
    box-shadow: 10px 7px 2px rgb(17, 37, 20);
    text-align: center; 
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,6);
    padding: 20px;
    width: 400px;
    margin: 100px;

}
p1{
    color: rgba(242, 245, 243, 0.582);
    font-family: Metrophobic;
    font-size: small;
}
#codigo{
    background-color: white;
    border-color: black;
    border-radius: 4px;
    text-align: center;
    color: black;
    padding: 10px;
    width: 150px ;
    margin: 0 auto;
    
    
}
