body {
    background-color: rgba(9, 28, 30, 1);
    margin-left: 0;
    font-family: Metrophobic;
}

div#interface {
    background-color: rgba(5, 20, 24, 0);
    width: 100%;
    color: white;
    padding: 2%;
    margin: -1.5% -10% auto -3.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav#menu {
    display: block;
}

nav#menu h1 {
    opacity: 0;
}

nav#menu ul {
    list-style: none;
    text-transform: none;
    position: absolute;
    top: 15%;
    left: 61.5%;
    font-family: Metrophobic;
    font-weight: 400;
    width: 30%;
}

nav#menu li {
    display: inline-block;
    background-color: none;
    padding: 1%;
    margin: 1%;
}

nav#menu a {
    color: white;
    text-decoration: none;
    transition: color 0.8s;
}

nav#menu a:hover {
    color: rgb(4, 218, 4);
}

header#cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(1, 26, 34);
    padding: 1%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    width: 100%;
    align-items: center;
    z-index: 2;
}

img#logo {
    position: absolute;
    top: 0.2%;
    left: 1.5%;
}

/* Formatação da página login */

section#corpo {
    width: 35%;
    margin: 9.5% auto 2% auto;
    padding: 3%;
    font-family: Metrophobic;
    padding-left: 8%;
}

section#corpo h2 {
    font-size: 2em;
    margin-bottom: 0;
}

section#corpo h5 {
    font-size: 1em;
    margin-top: 0;
    margin-left: 1%;
    font-weight: 300;
}

section#corpo input#email {
    padding: 2.7%;
    width: 94%;
    border-radius: 4px;
    background-color: #0d3840;
    border: 2px solid #20515f;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 7%;
    margin-bottom: 5%;
    font-family: Metrophobic;
    font-size: 12pt;
    font-weight: 500;
    outline: none;
    caret-color: white;
    color: white;
}

section#corpo input#senha {
    padding: 2.7%;
    width: 94%;
    border-radius: 4px;
    background-color: #0d3840;
    border: 2px solid #20515f;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1%;
    font-family: Metrophobic;
    font-size: 12pt;
    font-weight: 500;
    outline: none;
    caret-color: white;
    color: white;
    
}

input::placeholder {
    color: #fff;
}

section#corpo p#perdeusenha {
    font-size: 0.7em;
    text-align: left;
    padding-left: 1.5%;
}

section#corpo a#perdeusenha {
    text-decoration: none;
    color: white;
}

section#corpo button#entrarbutton {
    background-color: rgba(0, 255, 0, 0.904);
    padding: 1.5%;
    width: 100%;
    margin: 5% 0.2% 5%;
    font-family: Metrophobic;
    font-size: 1.5em;
    font-weight: 500;
    border: 2px solid rgba(0, 255, 0, 0.904);
    border-radius: 6px;
    transition: 0.6s;
}

section#corpo button#entrarbutton:hover {
    background-color: rgba(9, 28, 30, 1);
    color: rgba(0, 255, 0, 0.904);
}

section#corpo p#semconta {
    text-align: center;
    font-size: 0.9em;
}

section#corpo p#registrar {
    text-align: center;
}

section#corpo a#registrar {
    color: rgb(10, 243, 10);
    text-decoration: underline;
    transition: color 0.8s;
}

section#corpo a#registrar:hover {
    color: white;
    text-decoration: none;
}

/* Formatação do rodapé das páginas */

footer#rodape {
    clear: both;
    border-top: 1px solid white;
    color: white;
    margin-left: 0;
    margin-right: -0.6%;
    padding: 0.5%;
}

footer#rodape p {
    text-align: center;
    font-family: Metrophobic;
    font-size: 1em;
    padding-top: 0.4%;
}

/* Formatação da página registrar */

section#corporegistro {
    width: 35%;
    margin: 9.5% auto 2% auto;
    padding: 3%;
    font-family: Metrophobic;
    padding-left: 8%;
}

section#corporegistro h2 {
    font-size: 2em;
    margin-bottom: 0;
}

section#corporegistro h5 {
    font-size: 1em;
    margin-top: 0;
    margin-left: 1%;
    font-weight: 300;
}

section#corporegistro input {
    padding: 2.7%;
    width: 94%;
    border-radius: 4px;
    background-color: #0d3840;
    border: 2px solid #20515f;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 5%;
    font-family: Metrophobic;
    font-size: 12pt;
    font-weight: 500;
    outline: none;
    caret-color: white;
    color: white;

}

section#corporegistro input#confirmasenha {
    margin-top: 0%;
    margin-bottom: 4%;
}

section#corporegistro #termosuso {
    display: none;
}

section#corporegistro #termosuso + label::before {
    content: " ";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.1s;
}

section#corporegistro #termosuso:checked + label::before {
    background: rgba(0, 255, 0, 0.904) url("../_imagens/check.png") center/90% no-repeat;
    border-color: rgba(0, 255, 0, 0.904);
    box-shadow: 2px 2px 2px #20515f;
}

section#corporegistro .checkpersonalizado {
    color: white;
    display: block;
    width: 18px;
    height: 18px;
    float: left;
    padding-right: 1%;
}

section#corporegistro div#check-box {
    width: 100%;
    margin: 1.5% auto;
}

section#corporegistro div#check-box section#corpocheck {
    width: 9%;
    margin: 0;
    float: left;
    padding-top: 7%;
    padding-left: 1%;
}

section#corporegistro div#check-box aside#textolateral {
    width: 90%;
    float: left;
    margin: 0;
    word-wrap: break-word;
    text-align: justify;
    font-size: 0.8em;
}

section#corporegistro div#check-box aside#textolateral a {
    color: rgba(0, 255, 0, 0.904);
    text-decoration: underline;
    transition: 0.6s;
}

section#corporegistro div#check-box aside#textolateral a:hover {
    color: white;
}

section#corporegistro div#check-box aside#textolateral p {
    font-size: 1.2em;
    font-family: Metrophobic;
}

section#corporegistro button#criarbutton {
    background-color: rgba(0, 255, 0, 0.904);
    padding: 1.5%;
    width: 100%;
    margin: 4% 0.2% 4%;
    font-family: Metrophobic;
    font-size: 1.5em;
    font-weight: 500;
    border: 2px solid rgba(0, 255, 0, 0.904);
    border-radius: 6px;
    transition: 0.6s;
}

section#corporegistro button#criarbutton:hover {
    background-color: rgba(9, 28, 30, 1);
    color: rgba(0, 255, 0, 0.904);
}

section#corporegistro p#comconta {
    text-align: center;
    font-size: 0.9em;
    margin: 0;
}

section#corporegistro p#login {
    text-align: center;
}

section#corporegistro a#login {
    color: rgb(10, 243, 10);
    text-decoration: underline;
    transition: color 0.8s;
}

section#corporegistro a#login:hover {
    color: white;
    text-decoration: none;
}
section{
    width: 900px;
    height: 900px;
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 3%;
    position: relative;
    top: 250px;
    z-index: 1;
}
.box-carrinho{
width: 900px;
height: 100px;
position: relative;
bottom: 325px;
background-color: rgb(52, 52, 52);
font-size: 40px;
color: #C0C0C0;
}

.list{
   
    margin: 10px;
    width: 880px;
    height: 140px;
    background-color: #4a4a4a;
   
    

}

.img-item{

    border-radius: 2%;
    position: relative;
    top: 20px;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: #646464;

}

.name{
    margin-left: 30px;
    font-size: 30px;
    color: rgb(207, 207, 207);
    position: relative;
    right: 180px;
    bottom: 75px;


}

.button{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-size: 30px;
    border-radius: 40%;
    
}

.box-mais-menos{
   width: 20px;
   height: 20px;
   position: relative;
   left: 800px;
   bottom: 220px;
}

.button_pagamento{
    width: 200px;
    height: 50px;
    position: relative;
    left: 90px;
    border-radius: 7%;
    background-color: #444444;
    color: aliceblue;
    border-color: #272727;
    font-size: 20PX;
    top: 140px;
}
.preco{
    width: 40px;
    height: 20px;
    position: relative;
    bottom: 150px;
    left: 200px;
    font-size: 27px;
}

.Valor{
    width: 170px;
    height: 34px;
    
    position: relative;
    font-size: 27px;
    left: 650px;
    bottom: 68px;
    border-radius: 5%;
    background-color: #444444;
    color: rgb(234, 234, 234);
    border: 50px;
    border-color: #ff0000;
}


#resultado {
    margin-top: 20px;
    font-size: 36px;
    color: rgb(255, 255, 255);
    background-color: #323232;
  }

  .calcular{
    position: relative;
    left: 120px;
    top: 10px;
    width: 150px;
    height: 45px;
    font-size: 20px;
    bottom: 2px;
    background-color: #797979;
    color: #ffffff;
    border-radius: 9% ;
   
  }

  .voltar{
    font-size: 80px;
    position: relative;
    right: 250px;
    bottom: 250px;
    color: #ffffff  ;
    text-decoration: none;
}

  @media (max-width: 960px){
    
    nav#menu {
        display: none;
    }

    #submenubotao {
        display: block;
        width: 45px;
        height: 35px;
        cursor: pointer;
        position: absolute;
        top: 25%;
        right: 88%;
    }

    #submenubotao img {
        max-width: 100%;
        max-height: auto;
    }
        
    img#logo {
        display: block;
    }

    img#logomobile {
        position: absolute;
        top: 1%;
        left: 14%;
        display: block;
    }

    header#cabecalho {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(1, 26, 34);
        padding: 1%;
        padding-bottom: 9%;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 50px;
        align-items: center;
        z-index: 2;
    }
        
    nav#menu div#campopesquisa #pesquisadesktop {
        display: none;
    }

    nav#menu div#campopesquisa #pesquisamobile {
        display: block;
    }

    div#campopesquisamobile {
        position: absolute;
        display: block;
        top: 25%;
        left: 36%;
        width: 40%;
        padding: 2%;
        border: 2px solid #0d3840;
        border-radius: 50px;
        padding-bottom: 0.3%;
        background-color: #101c20;

    }

    section#pesquisamobile {
        width: 70%;
        float: left;
        margin-right: 10%;
        padding-right: 0.5%;
    }

    section#pesquisamobile input {
        background-color: transparent;
        padding: 2%;
        color: white;
        border: none;
        outline: none;
        width: 125%;
        font-weight: 100;
    }

    section#pesquisamobile input::placeholder{
        font-style: italic;
        font-size: 1.3em;
        color: rgb(255, 255, 255, 0.5);
        font-weight: 100;
    }

    aside#pesquisa1 {
        width: 10%;
        margin-right: 2%;
        float: right;
    }

    div#sacolamobile {
        display: block;
        position: absolute;
        top: 17%;
        right: 2%;
    }
    
    div#sacoladesktop {
        display: none;
        width: 40px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        top: 24%;
        left: 92%;
    }

    div#submenu p{
        font-size: 1.2em;
        font-family: Metrophobic;
        color: white;
        padding: 2%;
    }

    div#submenu p#primeiroitem{
        font-size: 1.2em;
        font-family: Metrophobic;
        color: white;
        padding: 2%;
        margin-top: 25%;
    }

    div#submenu p#menu {
        font-size: 1.2em;
        font-family: Metrophobic;
        color: white;
        padding: 6%;
        background-color: rgba(4, 238, 74, 0.822);
        margin-bottom: 3%;
        position: absolute;
        top: -2.5%;
        width: 97%;
        border-radius: 0px 90px 90px 0px;
    }

    div#submenu p#divisao {
        font-size: 1.2em;
        font-family: Metrophobic;
        color: white;
        padding: 6%;
        background-color: rgba(4, 238, 74, 0.822);
        margin-bottom: 3%;
        width: 88%;
        margin-top:22%;
}



section{
    width: 500px;
    height: 910px;
    background-color: #272727;
    border-radius: 3%;
    position: relative;
    top: 150px;
    left: -9px;
    z-index: 1;
}
.box-carrinho{
width: 500px;
height: 100px;
position: relative;
background-color: rgb(52, 52, 52);
font-size: 40px;
color: #C0C0C0;
bottom: 380px;
}

.list{
   
    margin: 10px;
    width: 478px;
    height: 140px;
    background-color: #4a4a4a;
    border-radius: 2%;

}

.img-item{

    border-radius: 2%;
    position: relative;
    top: 20px;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: #646464;

}

.name{
    margin-left: 80px;
    font-size: 28px;
    color: rgb(207, 207, 207);
    position: relative;
    right: 18px;
    bottom: 90px;


}

.button{
    width: 30px;
    height: 30px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-size: 30px;
    border-radius: 40%;
    
}

.box-mais-menos{
   width: 20px;
   height: 20px;
   position: relative;
   left: 430px;
   bottom: 220px;
}

.button_pagamento{
    width: 200px;
    height: 50px;
    position: relative;
    top: 200px;
    left: 100px;
    border-radius: 7%;
    background-color: #444444;
    color: aliceblue;
    border-color: #272727;
    font-size: 20PX;
}
.preco{
    width: 40px;
    height: 20px;
    position: relative;
    bottom: 100px;
    left: 10px;
    font-size: 27px;
}

.Valor{
    width: 100px;
    height: 34px;
    position: relative;
    font-size: 27px;
    left: 100px;
    bottom: 68px;
    border-radius: 5%;
    background-color: #444444;
    color: rgb(234, 234, 234);
}

#quantidade1{
    position: relative;
    right: -5px;
  
  }
  #quantidade2{
    position: relative;
    right: -5;
  
  }
  #quantidade3{
    position: relative;
    right: -5;
  
  }

#resultado {
    margin-top: 20px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: #323232;
    
  }

  .calcular{
    position: relative;
    left: 40px;
    top: 10px;
    width: 150px;
    height: 45px;
    font-size: 20px;
    bottom: 2px;
    background-color: #797979;
    color: #ffffff;
    border-radius: 9% ;
  }
  }

  @media (max-width: 660px){
    nav#menu {
        display: none;
    }

    #submenubotao {
        display: block;
        width: 45px;
        height: 35px;
        cursor: pointer;
        position: absolute;
        top: 25%;
        right: 88%;
    }

    #submenubotao img {
        max-width: 100%;
        max-height: auto;
    }
        
    img#logo {
        display: block;
    }

    img#logomobile {
        position: absolute;
        top: 1%;
        left: 14%;
        display: block;
    }

    header#cabecalho {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(1, 26, 34);
        padding: 1%;
        padding-bottom: 9%;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 50px;
        align-items: center;
        z-index: 2;
    }
        
    nav#menu div#campopesquisa #pesquisadesktop {
        display: none;
    }

    nav#menu div#campopesquisa #pesquisamobile {
        display: block;
    }

    div#campopesquisamobile {
        position: absolute;
        display: block;
        top: 25%;
        left: 36%;
        width: 40%;
        padding: 2%;
        border: 2px solid #0d3840;
        border-radius: 50px;
        padding-bottom: 0.3%;
        background-color: #101c20;

    }

    section#pesquisamobile {
        width: 70%;
        float: left;
        margin-right: 10%;
        padding-right: 0.5%;
    }

    section#pesquisamobile input {
        background-color: transparent;
        padding: 2%;
        color: white;
        border: none;
        outline: none;
        width: 125%;
        font-weight: 100;
    }

    section#pesquisamobile input::placeholder{
        font-style: italic;
        font-size: 1.3em;
        color: rgb(255, 255, 255, 0.5);
        font-weight: 100;
    }

    aside#pesquisa1 {
        width: 10%;
        margin-right: 2%;
        float: right;
    }

    div#sacolamobile {
        display: block;
        position: absolute;
        top: 17%;
        right: 2%;
    }
    
    div#sacoladesktop {
        display: none;
        width: 40px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        top: 24%;
        left: 92%;
    }

    div#submenu p{
        font-size: 1.2em;
        font-family: Metrophobic;
        color: white;
        padding: 2%;
    }

    div#submenu p#primeiroitem{
        font-size: 1.2em;
        font-family: Metrophobic;
        color: white;
        padding: 2%;
        margin-top: 25%;
    }

    div#submenu p#menu {
        font-size: 1.2em;
        font-family: Metrophobic;
        color: white;
        padding: 6%;
        background-color: rgba(4, 238, 74, 0.822);
        margin-bottom: 3%;
        position: absolute;
        top: -2.5%;
        width: 97%;
        border-radius: 0px 90px 90px 0px;
    }

    div#submenu p#divisao {
        font-size: 1.2em;
        font-family: Metrophobic;
        color: white;
        padding: 6%;
        background-color: rgba(4, 238, 74, 0.822);
        margin-bottom: 3%;
        width: 88%;
        margin-top:22%;
}



section{
    width: 400px;
    height: 1050px;
    background-color: #272727;
    border-radius: 3%;
    position: relative;
    top: 120px;
    left: -15px;
    z-index: 1;
}
.box-carrinho{
width: 400px;
height: 80px;
position: relative;
bottom: 450px;
background-color: rgb(52, 52, 52);
font-size: 40px;
color: #C0C0C0;
align-items: center;
}

.list{
   
    margin: 10px;
    width: 380px;
    height: 200px;
    background-color: #4a4a4a;
    border-radius: 2%;

}

.img-item{

    border-radius: 2%;
    position: relative;
    top: 30px;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: #646464;

}

.name{
    margin-left: 80px;
    font-size: 25px;
    color: rgb(207, 207, 207);
    position: relative;
    right: -15px;
    bottom: 110px;


}

.button{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    border-radius: 40%;
    background-color: #ffffff;
    
}

.box-mais-menos{
   width: 20px;
   height: 20px;
   position: relative;
   left: 320px;
   bottom: 160px;
}

.button_pagamento{
    width: 200px;
    height: 50px;
    position: relative;
    top: 170px;
    left: 85px;
    border-radius: 7%;
    background-color: #444444;
    color: aliceblue;
    border-color: #272727;
    font-size: 20PX;
}
.preco{
    width: 40px;
    height: 20px;
    position: relative;
    bottom: 140px;
    left: 20px;
    font-size: 27px;
}

.Valor{
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 27px;
    left: 100px;
    border-radius: 5%;
    background-color: #444444;
    color: rgb(234, 234, 234);
}

#quantidade1{
    position: relative;
    right: -6px;
  }
  #quantidade2{
    position: relative;
    right: -6px;
  }
  #quantidade3{
    position: relative;
    right: -6px;

  }

#resultado {
   
    width: 400px;
    height: 40px;
    margin-top: 20px;
    font-size: 30px;
    color: rgb(255, 255, 255);
  
    position: relative;
    bottom: -10px;
    right: 0px;
    
  }

  .calcular{
    position: relative;
    left: 0px;
    top: 10px;
    width: 150px;
    height: 45px;
    font-size: 20px;
    background-color: #797979;
    color: #ffffff;
    border-radius: 9% ;
  }
  }

  @media (max-width: 430px){
    nav#menu {
        display: none;
    }

    #submenubotao {
        display: block;
        width: 45px;
        height: 35px;
        cursor: pointer;
        position: absolute;
        top: 25%;
        right: 88%;
    }

    #submenubotao img {
        max-width: 100%;
        max-height: auto;
    }
        
    img#logo {
        display: block;
    }

    img#logomobile {
        position: absolute;
        top: 1%;
        left: 14%;
        display: block;
    }

    header#cabecalho {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(1, 26, 34);
        padding: 1%;
        padding-bottom: 9%;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 50px;
        align-items: center;
        z-index: 2;
    }
        
    nav#menu div#campopesquisa #pesquisadesktop {
        display: none;
    }

    nav#menu div#campopesquisa #pesquisamobile {
        display: block;
    }

    div#campopesquisamobile {
        position: absolute;
        display: block;
        top: 25%;
        left: 36%;
        width: 40%;
        padding: 2%;
        border: 2px solid #0d3840;
        border-radius: 50px;
        padding-bottom: 0.3%;
        background-color: #101c20;

    }

    section#pesquisamobile {
        width: 70%;
        float: left;
        margin-right: 10%;
        padding-right: 0.5%;
    }

    section#pesquisamobile input {
        background-color: transparent;
        padding: 2%;
        color: white;
        border: none;
        outline: none;
        width: 125%;
        font-weight: 100;
    }

    section#pesquisamobile input::placeholder{
        font-style: italic;
        font-size: 1.3em;
        color: rgb(255, 255, 255, 0.5);
        font-weight: 100;
    }

    aside#pesquisa1 {
        width: 10%;
        margin-right: 2%;
        float: right;
    }

    div#sacolamobile {
        display: block;
        position: absolute;
        top: 17%;
        right: 2%;
    }
    
    div#sacoladesktop {
        display: none;
        width: 40px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        top: 24%;
        left: 92%;
    }

    div#submenu p{
        font-size: 1.2em;
        font-family: Metrophobic;
        color: white;
        padding: 2%;
    }

    div#submenu p#primeiroitem{
        font-size: 1.2em;
        font-family: Metrophobic;
        color: white;
        padding: 2%;
        margin-top: 25%;
    }

    div#submenu p#menu {
        font-size: 1.2em;
        font-family: Metrophobic;
        color: white;
        padding: 6%;
        background-color: rgba(4, 238, 74, 0.822);
        margin-bottom: 3%;
        position: absolute;
        top: -2.5%;
        width: 97%;
        border-radius: 0px 90px 90px 0px;
    }

    div#submenu p#divisao {
        font-size: 1.2em;
        font-family: Metrophobic;
        color: white;
        padding: 6%;
        background-color: rgba(4, 238, 74, 0.822);
        margin-bottom: 3%;
        width: 88%;
        margin-top:22%;
}



section{
    width: 400px;
    height: 1050px;
    background-color: #272727;
    border-radius: 3%;
    position: relative;
    top: 120px;
    left: 10px;
    z-index: 1;
}
.box-carrinho{
width: 400px;
height: 80px;
position: relative;
bottom: 450px;
background-color: rgb(52, 52, 52);
font-size: 40px;
color: #C0C0C0;
align-items: center;
}

.list{
   
    margin: 10px;
    width: 380px;
    height: 200px;
    background-color: #4a4a4a;
    border-radius: 2%;

}

.img-item{

    border-radius: 2%;
    position: relative;
    top: 30px;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: #646464;

}

.name{
    margin-left: 80px;
    font-size: 25px;
    color: rgb(207, 207, 207);
    position: relative;
    right: -15px;
    bottom: 110px;


}

.button{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    border-radius: 40%;
    background-color: #ffffff;
    
}

.box-mais-menos{
   width: 20px;
   height: 20px;
   position: relative;
   left: 320px;
   bottom: 160px;
}

.button_pagamento{
    width: 200px;
    height: 50px;
    position: relative;
    top: 170px;
    left: 85px;
    border-radius: 7%;
    background-color: #444444;
    color: aliceblue;
    border-color: #272727;
    font-size: 20PX;
}
.preco{
    width: 40px;
    height: 20px;
    position: relative;
    bottom: 140px;
    left: 20px;
    font-size: 27px;
}

.Valor{
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 27px;
    left: 100px;
    border-radius: 5%;
    background-color: #444444;
    color: rgb(234, 234, 234);
}

#quantidade1{
    position: relative;
    right: -6px;
  }
  #quantidade2{
    position: relative;
    right: -6px;
  }
  #quantidade3{
    position: relative;
    right: -6px;

  }

#resultado {
   
    width: 400px;
    height: 40px;
    margin-top: 20px;
    font-size: 30px;
    color: rgb(255, 255, 255);
  
    position: relative;
    bottom: -10px;
    right: 0px;
    
  }

  .calcular{
    position: relative;
    left: 0px;
    top: 10px;
    width: 150px;
    height: 45px;
    font-size: 20px;
    background-color: #797979;
    color: #ffffff;
    border-radius: 9% ;
  }
  }